.menu_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product_container {
    background-color:gray;
    height: 100%;
    margin-top: 2vh;
    width: 15vw;
}

.category_container {
    background-color:gray;
    height: 12.5vh;
    margin-top: 2vh;
    width: 15vw;
}

.button {
    float: right;
    margin-right: 5vh;
}