.shadow-bottom {
    box-shadow: 0 4px 4px 2px rgba(0,0,0,.2);
} 

.nav-color{
    color: grey !important;
}

.nav-color:hover {
    color: lightgray !important;
    cursor: pointer !important;
}

.right {
    float: right;
}

.color-white, .color-white:hover {
    color: white !important;
}

.btn-cherry {
    background-color: #F2505D !important;
    color: white !important;
}

.btn-cherry:hover {
    background-color: #F23D3D !important;
}

.color-text-cherry {
    color: #F2505D !important;
}

.color-text-cherry:hover {
    color: #F23D3D !important;
}

.color-cherry {
    color: #F2505D !important;
}

.color-cherry:hover {
    color: #F23D3D !important;
    background-color: #262223 !important;
}

.color-cherry:focus {
    background-color: #262223 !important;
}

.color-strawberry {
    color: #F23D3D !important;
}

.color-cherry-bg {
    background-color: #F2505D;
}

.color-strawberry-bg {
    background-color: #F23D3D;
}

.color-nightgray {
    background-color: #403D3E;
}

.color-darknight {
    background-color: #262223 !important;
}

.color-darkernight {
    background-color: #1a1717 !important;
}

.color-darkernight-text {
    color: #403D3E !important;
}

.color-darkernight-text:hover {
    color: #1a1717 !important;
}

.color-lgray {
    color: #BFBFBF !important;
}

.color-product {
    color: #BFBFBF;
}

.color-product:hover {
    color: #F2505D;
}

.search-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-text-color {
    background-color: #262223 !important;
}

.search-text-color:hover {
    background-color: #403D3E !important;
}

.search-text-color:focus {
    background-color: #F2505D !important;
}

.profile-color {
    background-color: #1a1717 !important;
}

.profile-color:hover {
    background-color: #262223 !important;
}

.profile-color:focus {
    background-color: #F2505D !important;
}

.shopping-cart-color {
    background-color: #1a1717 !important;
}

.shopping-cart-color:hover {
    background-color: #F2505D !important;
}

.slideshow-container {
    width: 100%;
    height: 500px;
    position: relative;
    margin: auto;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow: hidden;
  }

.mySlides {
    display: none;
    max-height: 80%;
    max-width: 80%;
}

.mySlides img{
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    color: #262223; 
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: lightgray;
    text-decoration: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.product {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
}

.product img{
    width: 50%;
}

.mar5 {
    margin: 5px;
}

.img_center {
    display: flex;
    margin-left: 10%;
}

.forms {
    width: auto !important; 
    margin: auto;
}

.mt-1vh {
    margin-top: 1vh;
}

.mt-2vh {
    margin-top: 2vh;
}

.mb-1vh {
    margin-bottom: 1vh;
}

.slideshow-container-start {
    width: 80%;
    height: 500px;
    position: relative;
    margin: auto;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow: hidden;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

.mySlides2 {
    display: none;
}

.mySlides2 img{
    max-width: 80%;
    max-height: 80%;
    margin: 1rem;
    height: auto;
}

.amount-product {
    margin: auto;
    width: 75% !important;
}

.cookie-confirmation {
    display: inline-block;
    padding: 4rem 2rem;
    position: fixed;
    bottom: 0;
}

.footer-bottom {
    margin-bottom: 0 !important;
}

.btn-category {
    width: 100%;
    margin-top: 1vh;
}

#accept-cookie {
    display: none;
}

.shopping-cart-width {
    min-width: 25rem !important;
    max-width: 25rem !important;
}

.shopping-cart-overflow {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shopping-cart-link {
    text-decoration: none;
}

.shopping-cart-box {
    width: 100%; 
    height: 3rem;
    padding: 1rem;
}

.shopping-cart-name {
    width: 50%;
    float: left;
    text-decoration: none;
}

.shopping-cart-amount {
    width: 20%; 
    padding-left: 3%;
    float: left;
}

.shopping-cart-price {
    width: 20%; 
    float: left;
}

.shopping-cart-trash {
    width: 10%;
    float: left;
}

.shopping-cart-trash:hover {
    color:white;
    cursor: pointer !important;
}

.shopping-cart-totalamount {
    float: left; 
    width: 50%;
}

.shopping-cart-button {
    float: right; 
}

#searchDropdownMenu {
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
}

.float-r {
 float: right;
}

.mr-0px {
    margin-right: 0px !important;
}

.pc {
    display: block !important;
}

.phone {
    display: none !important;
}

.shopping-cart-page {
    padding: 3%;
}

.flash-message {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
}

.mt-mb-login {
    margin-top: 4vh;
    margin-bottom: 54.5vh;
}
.mt-mb-checkout {
    margin-top: 4vh;
    margin-bottom: 70vh;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-deco {
    text-decoration: none;
}

.text-deco:hover {
    text-decoration: none;
}

.ta-c {
    text-align: center;
}

.display-flex {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .pc {
        display: none !important;
    }
    .phone {
        display: block !important;
    }
}