.shadow-bottom {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

.shadow-top {
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,.2);
} 

.nav-color{
    color: grey;
}

.nav-color:hover {
    color: lightgray;
}

.right {
    float: right;
}

.min-h-col {
    min-height: 100%;
}

.color-cherry {
    color: #F2505D;
}

.color-strawberry {
    color: #F23D3D;
}

.color-nightgray {
    background-color: #403D3E;
}

.color-darknight {
    background-color: #262223;
}

.color-darkernight {
    background-color: #1a1717 !important;
}

.color-lgray {
    color: #BFBFBF;
}

.search-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}