.shadow-bottom {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

.shadow-top {
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,.2);
} 

.nav-color{
    color: grey;
}

.nav-color:hover {
    color: lightgray;
}

.right {
    float: right;
}

.color-cherry {
    color: #F2505D;
}

.color-strawberry {
    color: #F23D3D;
}

.color-nightgray {
    background-color: #403D3E;
}

.color-darknight {
    background-color: #262223;
}

.color-darkernight {
    background-color: #1a1717 !important;
}

.color-lgray {
    color: #BFBFBF;
}

.color-product {
    color: #1a1717;
}

.color-product:hover {
    color: #F2505D;
}

.search-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.slideshow-container {
    width: 100%;
    height: 50vh;
    position: relative;
    margin: auto;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    color: #262223; 
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: lightgray;
    text-decoration: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.product {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
}

.product img{
    width: 80%;
}

.mar5 {
    margin: 5px;
}

.img_center {
    display: flex;
    margin-left: 10%;
}