{% extends 'base.html' %}

{% block title %}Admin | buystuff.se{% endblock %}

{% block head%}<link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='admin_style.css') }}">{% endblock %}

{%block content%}
    <div class="row menu_container">
        {% for category in categories %}
            <div class="col mar5">
                <div class="category_container color-darkernight">
                    <h3 class='color-text-cherry' >{{category.name}}</h3>
                    <a href="{{ url_for('admin.admin_category', category_id = category.id) }}" class="btn btn-cherry">Visa</a>
                </div>            
            </div>
        {% endfor %}
        <div class="col mar5">
            <div class="category_container color-darkernight">
                <h3 class='color-text-cherry'>Nyhetsbrev</h3>
                <a href="{{ url_for('admin.send_email') }}" class="btn btn-cherry">Sicka mail</a>
            </div>            
        </div>
        <div class="col mar5">
            <div class="category_container color-darkernight">
                <h3 class='color-text-cherry'>Lägg till produkt</h3>
                <a href="{{ url_for('admin.admin_add') }}" class="btn btn-cherry">Lägg till</a>
            </div>            
        </div>
    </div>
{% endblock%}