{% extends 'base.html' %}

{% block title %}Admin - {{ category_name }} | buystuff.se{% endblock %}

{% block head%}<link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='admin_style.css') }}">{% endblock %}

{%block content%}
    <div class="row menu_container">
        {% for product in products %}
            <div class="col mar5">
                <div class="product_container">
                    <h3 class='color-product' >{{product.name}}</h3>
                    <a href="{{ url_for('admin.admin_edit', product_id = product.id) }}" class="btn btn-outline-primary">Visa</a>
                </div>            
            </div>
        {% endfor %}
    </div>
{% endblock%}