{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block head%}<link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='admin_style.css') }}">{% endblock %}

{%block content%}
    <div class="row menu_container">
        {% for category in categories %}
            <div class="col mar5">
                <div class="category_container">
                    <h3 class='color-product' >{{category.name}}</h3>
                    <a href="{{ url_for('admin.admin_category', category_id = category.id) }}" class="btn btn-outline-primary">Visa</a>
                </div>            
            </div>
        {% endfor %}
        <div class="col mar5">
            <div class="category_container">
                <h3 class='color-product' >Nyhetsbrev</h3>
                <a href="{{ url_for('admin.send_email') }}" class="btn btn-outline-primary">Sicka mail</a>
            </div>            
        </div>
    </div>
{% endblock%}