<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="..{{ url_for('static', filename='favicon.png') }}"/>
    <link rel="stylesheet" href="..{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="..{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='cookies.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100 bg-secondary">

<nav id="navbar" class="navbar navbar-expand-sm color-darknight shadow-bottom sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="color-cherry fas fa-bars"></i>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="row flex-grow-1 mr-0px">
            <div class="col-sm-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand nav-color" href="{{url_for('main.start')}}">buystuff.se</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                    <ul class="navbar-nav justify-content-center">
                        <li class="nav-item dropdown w-100">
                            <input class="form-control search-input" type="search"  onkeyup="searchFunction(this.value)" placeholder="Sök" data-toggle="dropdown">
                            <div id="searchDropdownMenu" class="dropdown-menu color-darknight">
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <ul class="navbar-nav float-r">
                    <li class="nav-item dropdown pc">
                        <a class="nav-link nav-color" data-toggle="dropdown"><i class="fas fa-user mr-1"></i></a>    
                        <div class="dropdown-menu dropdown-menu-right color-darkernight">
                            {% if logged_id == False %}
                            <form class="px-4 py-3" action="{{url_for('users.login')}}" method='post'>
                                <div class="form-group">
                                    <input type="name" class="form-control forms" name="username" placeholder="Användarnamn">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control forms" name="password" placeholder="Lösenord">
                                </div>
                                <button type="submit" class="btn btn-cherry">Logga in!</button>
                            </form>
                            <div class="pt-3 text-center">
                                <small class="text-light">
                                    Eller behöver du ett konto? <a href="{{url_for('users.register')}}" class="ml-2 color-cherry"><br>Skapa ett konto!</a>
                                </small>
                            </div>
                            {% elif logged_id == True %}
                            <a class="dropdown-item profile-color color-white" href="{{url_for('users.edit_user',id=user.id)}}">Inställningar</a>
                            <a class="dropdown-item profile-color color-white" href="{{url_for('users.logout')}}">Logga ut!</a>
                            {% if user.admin == True %}
                            <a class="dropdown-item profile-color color-white" href="{{url_for('admin.admin_home')}}">Admin</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown pc">
                        <a onclick="shoppingCart()" class="nav-link nav-color" data-toggle="dropdown"><i class="fas fa-shopping-cart"></i></a>
                        <div class="dropdown-menu dropdown-menu-right color-darkernight shopping-cart-width" id="shopping-cart">
                        </div>
                    </li>

                    <li class="nav-item phone">
                        <a href="{{url_for('users.login')}}" class="nav-link nav-color"><i class="fas fa-user mr-1"></i></a>    
                    </li>
                    <li class="nav-item phone">
                        <a href="{{url_for('shop.checkout')}}" onclick="shoppingCart()" class="nav-link nav-color"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="row flex-grow-1 mr-0px">
    <div class="col-sm-2 color-cherry-bg">{%block left%}{%endblock%}</div>
    <div class="col-sm-8 color-darknight ta-c">
        {%block content%}{% endblock%}
        <div class="flash-message">
            {% for category, message in get_flashed_messages(with_categories = True) %}
                    <p class="alert alert-{{category}} alert-dismissible fade show mt-3"><button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }} </p>          
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-2 color-cherry-bg">
        <ul class="mt-1vh">
            {% for category in categories%}
                {% if category.id != 0 %}
                <a class="text-deco" href="{{ url_for('shop.products',category=category.id)}}">
                    <li class="text-overflow">
                            <h5 class="color-darkernight-text">
                                {{category.name}}
                            </h5>
                    </li>
                </a>
                {% endif %}
            {% endfor %}
        </ul>
        {%block right%}{%endblock%}
    </div>
</div>

<div id="accept-cookie" class="container-fluid cookie-confirmation text-center color-darkernight">
    <div class="center">
        <p class="color-cherry">Vi använder oss av cookies!</p>
        <button class="btn btn-cherry" onclick="acceptedCookies()">Ok</button>
    </div>
</div>

<div class="footer-bottom mt-auto color-darkernight jumbotron jumbotron-fluid text-center">
    <p class="h3 text-white"></p>
</div>

</body>
</html>
