{% extends 'base.html' %}

{% block title %}Admin - {{product.name}} | buystuff.se{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='product_slideshow.js') }}"></script>
{% endblock %}

{%block content%}
<div class="row">
    <div class="col-sm-5">
        <div class="slideshow-container">
            {% for picture in pictures %}
                <div class="mySlides center">
                    <img src="/{{picture.filepath}}" alt="{{picture[0]}}">
                </div>
            {%endfor%}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="ta-c">
            {% for i in range(pictures|length)%}
            <span class="dot" onclick="currentSlide({{i+1}})"></span>
            {%endfor%}
        </div>
        <form action="{{url_for('admin.upload_picture')}}" method="POST" enctype="multipart/form-data">
            <input class="btn btn-cherry w-50" type=file name=file>
            <input type="hidden" name="id" value="{{product.id}}">
            <button class="btn btn-cherry" type="submit">Lägg till bild</button>
          </form>
          <a class="btn btn-cherry mt-2vh" href="{{ url_for('shop.product',id=product.id) }}">Visa produktsida</a>
    </div>
    <div class="col-sm-7">
        <form action="{{url_for('admin.admin_edit')}}" method="POST">
            <div class="form-group">
                <label for="name" class="text-white">Produktnamn</label>
                <input type="name" class="form-control" name="name" value="{{product.name}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="{{product.id}}">
            </div>
            <div class="form-group">
                <label for="name" class="text-white">Beskrivning</label>
                <textarea class="form-control" rows="10" name="description">{{product.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="name" class="text-white">Antal</label>
                <input type="number" class="form-control" name="stock" value="{{product.stock}}">
            </div>
            <div class="form-group">
                <label for="name" class="text-white">Pris</label>
                <input type="number" class="form-control" name="price" value="{{product.price}}">
            </div>
            <div class="form-group">
                <label for="name" class="text-white">Kateogri</label>
                <input type="text" class="form-control" name="main_category" value="{{product.category}}" disabled>
            </div>
            <button class="btn btn-cherry" type="submit">Spara</button>
        </form> 
    </div>
</div>
{%endblock%}