{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block head %}{% endblock %}

{%block content%}
<div class="row">
    <div class="col-sm-5">
        <img src="/{{pictures[0].filepath}}">
        <form action="{{url_for('admin.upload_picture')}}" method="POST" enctype="multipart/form-data">
            <!--<label class="btn btn-outline-primary">
                Bläddra <input type="file" id="myfile" name="myfile"hidden>
            </label>-->

            <input type=file name=file>
            
            <input type="hidden" name="id" value="{{product.id}}">

            <button class="btn btn-outline-primary" type="submit">Lägg till bild</button>
          </form>
    </div>
    <div class="col-sm-7">
        <form action="{{url_for('admin.admin_edit')}}" method="POST">
            <div class="form-group">
                <label for="name">Produktnamn</label>
                <input type="name" class="form-control" name="name" value="{{product.name}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="{{product.id}}">
            </div>
            <div class="form-group">
                <label for="name">Beskrivning</label>
                <textarea class="form-control" rows="10" name="description">{{product.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Antal</label>
                <input type="number" class="form-control" name="stock" value="{{product.stock}}">
            </div>
            <div class="form-group">
                <label for="name">Kateogri</label>
                <input type="text" class="form-control" name="main_category" value="{{product.category}}" disabled>
            </div>
            <button class="btn btn-outline-primary" type="submit">Spara</button>
        </form> 
    </div>
</div>
{%endblock%}