{% extends 'base.html'%}

{% block title %}FÖRETAGSNAMN {% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='start_slideshow.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="slideshow-container-start">
                {% for start_pricture in start_pictures %}    
                    <div class="mySlides2 center">
                        <img src="../static/images/patrik shooting star.gif" alt="PATRIK STAR SHOTTER">
                    </div>
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div style="text-align:center">
                {% for i in range(pictures|length)%}
                <span class="dot" onclick="currentSlide({{i+1}})"></span>
                {%endfor%}
            </div>
        </div>

        {% for popular_product in popular_products %}
        <div class="col mar5">
            <a href="{{url_for(product, popular_product.id)}}" class="color-product" style="text-decoration: none;">
                <div class="product">
                    <img class="vertical-center img_center" src="{{popoular_product.filepath}}" alt="">
                </div>
                <h3>{{popular_product.id}}</h3>
            </a>
        </div>
        {% endfor %}

    </div>

    <button onclick="startCookie(true)">aaa</button>
    <button onclick="getProducts(currentCookie)">aaaaa</button>
{% endblock %}