{% extends 'base.html'%}

{% block title %}buystuff.se{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='start_slideshow.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="slideshow-container-start">
                {% for picture in pictures %}    
                    <div class="mySlides2 center">
                        <img class="img-responsive" src="/{{picture.filepath}}" alt="{{picture[0]}}">
                    </div>
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div style="text-align:center">
                {% for i in range(pictures|length)%}
                <span class="dot" onclick="currentSlide({{i+1}})"></span>
                {%endfor%}
            </div>
        </div>
    </div>

    
    <div id="products" class="row">
        {% for product in products %}
        <div class="col mar5"><a href="{{url_for('shop.product', id=product.id)}}" class="color-product" style="text-decoration: none;">
            <div class="product"><img class="center" src=/{{pictures[loop.index-1].filepath}} alt=""></div>
            <h3>{{product.name}}</h3>
        </a></div>
        {% endfor %}
    </div>


    <button onclick="startCookie(true)">aaa</button>
    <button onclick="getProducts(currentCookie)">aaaaa</button>
{% endblock %}