{% extends 'base.html'%}

{% block title %}buystuff.se{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='start_slideshow.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="slideshow-container-start">
                {% for picture in pictures %}    
                    <div class="mySlides2 center">
                        <a href="{{url_for('shop.product', id=products[loop.index-1].id)}}"><img class="img-responsive" src="/{{picture.filepath}}" alt="{{picture[0]}}"></a>
                    </div>
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div class="ta-c">
                {% for i in range(pictures|length)%}
                <span class="dot" onclick="currentSlide({{i+1}})"></span>
                {%endfor%}
            </div>
        </div>
    </div>

    
    <div id="products" class="row">
        {% for product in products %}
        <div class="col mar5"><a href="{{url_for('shop.product', id=product.id)}}" class="color-text-cherry text-deco">
            <div class="product"><img class="center" src=/{{pictures[loop.index-1].filepath}} alt=""></div>
            <h3>{{product.name}}</h3>
        </a></div>
        {% endfor %}
    </div>
{% endblock %}