{% extends 'base.html' %}

{%block content%}
<div class="container mt-1vh">
    <form action="{{url_for('users.login')}}" method='post'>
        <div class="form-group">
            <input type="name" class="form-control forms" name="username" placeholder="Användarnamn">
        </div>
        <div class="form-group">
            <input type="password" class="form-control forms" name="password" placeholder="Lösenord">
        </div>
        <button type="submit" class="btn btn-cherry">Logga in!</button>
    </form>
</div>
{% endblock%}