{% extends 'base.html' %}

{% block title %}Betala | buystuff.se{% endblock %}

{%block content%}
    <div class="container">
        <h2 class="text-white">
            Betalningar görs till Mathias och Lukas via swish
        </h2>
        <h3 class="text-white">
            Swish Mathias: 073 627 14 73
        </h3>
        <h3 class="text-white">
            Swish Lukas: 076 585 04 95
        </h3>
        <h6 class="text-white">
            Vi kommer inte att skicka några produkter till dig, men om du är snäll kanske du kan få ett mail
        </h6>
    </div>
{%endblock%}