{% extends 'base.html' %}

{% block title %}{{category.name}} | buystuff.se{% endblock %}

{%block content%}
<script>
    window.onload = function() {
        sort({{products[0].category}},'DSC');
    };
</script>

<div id="products" class="row">
</div>
{% endblock%}

{%block left%}
<div class="dropdown horizontal-center mt-1vh mb-1vh">
    <button class="btn dropdown-toggle color-darkernight horizontal-center" type="button" data-toggle="dropdown" style="color: gray; width: 75%;">Sortera<span class="caret"></span></button>
    <div class="dropdown-menu" style="width: 75%;">
        <a class="dropdown-item" onclick="sort({{products[0].category}},'POP')">Popularitet</a>
        <a class="dropdown-item" onclick="sort({{products[0].category}},'DSC')">Högsta pris</a>
        <a class="dropdown-item" onclick="sort({{products[0].category}},'ASC')">Lägsta pris</a>
    </div>
</div>
{%endblock%}