{% extends 'base.html' %}

{%block content%}
<script>
    window.onload = function() {
        sort({{products[0].category}},'DSC');
    };
</script>

<div id="test"></div>

<div id="products" class="row">
    <!--<div class='col mar5'>
        <a href="#" class="color-product" style="text-decoration: none;">
            <div class="product">
                <img class="vertical-center img_center" src="{{products[0].pictures[0].filepath}}" alt="" width="80%">
            </div>
            <h3>{{products[0].name}}</h3>
        </a>
    </div>
    <div class='col mar5'>
        <a href="#" class="color-product" style="text-decoration: none;">
            <div class="product">
                <img class="vertical-center img_center" src="{{products[1].pictures[0].filepath}}" alt="" width="80%">
            </div>
            <h3>{{products[1].name}}</h3>
        </a>
    </div>
    <div class='col mar5'>
        <a href="#" class="color-product" style="text-decoration: none;">
            <div class="product">
                <img class="vertical-center img_center" src="{{products[2].pictures[0].filepath}}" alt="" width="80%">
            </div>
            <h3>{{products[2].name}}</h3>
        </a>
    </div>-->
</div>
{% endblock%}

{%block left%}
<div class="dropdown horizontal-center" style="margin-top: 1vh;">
    <button class="btn dropdown-toggle color-darkernight horizontal-center" type="button" data-toggle="dropdown" style="color: gray; width: 75%;">Sortera<span class="caret"></span></button>
    <div class="dropdown-menu" style="width: 75%;">
        <a class="dropdown-item" onclick="sort({{products[0].category}},'POP')">Popularitet</a>
        <a class="dropdown-item" onclick="sort({{products[0].category}},'DSC')">Högsta pris</a>
        <a class="dropdown-item" onclick="sort({{products[0].category}},'ASC')">Lägsta pris</a>
    </div>
</div>
{%endblock%}