{% extends 'base.html' %}

{% block title %}Registrering | buystuff.se{% endblock %}

{%block content%}
<div class="container mt-1vh">
    <form action="{{url_for('users.register')}}" method='post'>
        <div class="form-group">
            <input type="name" class="form-control forms" name="fname" placeholder="Förnamn">
        </div>
        <div class="form-group">
            <input type="name" class="form-control forms" name="lname" placeholder="Efternamn">
        </div>
        <div class="form-group">
            <input type="name" class="form-control forms" name="uname" placeholder="Användarnamn">
        </div>
        <div class="form-group">
            <input type="email" class="form-control forms" name="email" placeholder="Mailadress">
        </div>
        <div class="form-group">
            <input type="password" class="form-control forms" name="password1" placeholder="Lösenord">
        </div>
        <div class="form-group">
            <input type="password" class="form-control forms" name="password2" placeholder="Återupprepa lösenord">
        </div>
        <button type="submit" class="btn btn-cherry">Skapa konto</button>
    </form>
    <div class="pt-3">
        <small class="text-muted">
            Har du redan ett konto? <a href="{{url_for('users.login')}}" class="ml-2 color-cherry">Logga in här!</a>
        </small>
    </div>
</div>
{% endblock%}